body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	font-family: "Courier New", Courier, monospace;
}

small {
	font-family: "Courier New", Courier, monospace;
	color: red;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 15px;
	display: block;
}

input,
input::placeholder,
label {
	font-family: "Courier New", Courier, monospace !important;
	font-weight: 700 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Courier New", Courier, monospace !important;
	font-weight: 900 !important;
}
